# Java
*.class

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

// IntelliJ
.idea
*.iml
*.ipr
*.iws

// Forge stuff.
build
output
.gradle
/run
*.classpath
*.project
/.settings
/bin
/eclipse
*.txt
/config
/logs
out
development utilities
.metadata/**
